<%- include('partials/header.ejs'); -%>

<div class="container">
    <h1>Read a new book? Add it to your list!</h1>
    <div class="form">
    <form action="/add" method="post">
        <label>Title:</label>
        <input type="text" name="title" style="width: 300px;"><br><br>
        <label>Author:</label>
        <input type="text" name="author" style="width: 300px;"><br><br>
        <label>ISBN:</label>
        <input type="text" name="isbn"><br><br>
        <label>Date:</label>
        <input type="text" name="date"><br><br>
        <label>Review:</label>
        <input type="text" name="review"><br><br>
        <label>Note:</label>
        <textarea rows="10" cols="60" name="note"></textarea><br><br>
        <input type="submit" value="Add Book">
    </form>
</div>
</div>

<%- include('partials/footer.ejs'); -%>